.post-main
  .post-main__header
    .post-main__header__left
      %h2.post-main__header__left
        = @group.name
    .menber
      %ul.post-main__header__left__menber
        - @group.users.each do |user|
          = user
    .post-main__header__right
      .post-main__header__right__edit-btn
        = link_to "Edit", edit_group_path(@group.id)
  .post-main__messages
    = render @messages
  .post-main__form
    = form_for [@group, @message] do |f|
      = f.text_field :text, class: 'form__message', placeholder: 'type a message'
      .input-box
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      =f.submit 'send', class: 'form__submit'