.post-side
  .post-side__header
    .post-side__header__box
      .names
        %p.post-side__header__box__name
          = current_user.nickname
      .menus
        %ul.post-side__header__box__menu
          %li.post-side__header__box__menu__new-group
            = link_to new_group_path do
              = icon('far', 'edit')
          %li.post-side__header__box__menu__edit-user
            = link_to edit_user_path(current_user) do
              = icon('fa','cog')
  .groups
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__message
            メッセージはまだありません